@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');



#transform-language {
  position: fixed;
  width: 22px;
  height: 22px;
  background-image: url("/public/translate.png");
  background-size: cover;
  cursor: pointer;
  margin-top: 0.2em;
  z-index: 2147483647;
}